/* COLOR VARIABLES */

/*### Primary ####*/
$color-primary-white: #fff;

$color-primary-scissors-1: hsl(39, 89%, 49%);
$color-primary-scissors-2: hsl(40, 84%, 53%);
$color-primary-scissors-border: #C76B19;

$color-primary-paper-1: hsl(230, 89%, 62%);
$color-primary-paper-2: hsl(230, 89%, 65%);
$color-primary-paper-border: #2945C1;

$color-primary-rock-1: hsl(349, 71%, 52%);
$color-primary-rock-2: hsl(349, 70%, 56%);
$color-primary-rock-border: #9E1631;

$color-primary-lizard-1: hsl(261, 73%, 60%);
$color-primary-lizard-2: hsl(261, 72%, 63%);

$color-primary-cyan-1: hsl(189, 59%, 53%);
$color-primary-cyan-2: hsl(189, 58%, 57%);


/*### Neutral ###*/
$color-secondary-dark-text: hsl(229, 25%, 31%);
$color-secondary-text:hsl(229, 64%, 46%);
$color-secondary-outline: hsl(217, 16%, 45%);

/*### Background ###*/
$color-bg-1:hsl(214, 47%, 23%);
$color-bg-2: hsl(237, 49%, 15%);

/* Neon text color */
$neon-text-color: #f40;
$neon-border-color: #08f;



