.scoreboard {
        text-transform: uppercase;
        margin: 5.2rem 0 0 1rem;
        border-radius: 1.8rem;
        border: 0.4rem solid $color-secondary-outline;
        width: 78.7rem;
        height: 17.2rem;
        padding: 0 2.5rem 0 3.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 800px) {
                width: 49rem;
                height: 12rem;
        }

        @media screen and (max-width: 500px) {
                width: 30rem;
                height: 9rem;
                border-radius: 1rem;
                margin: 4rem 0 0 .5rem;
                padding: 0 1.5rem;
        }

        &__list {
                margin-top: -1rem;
                display: flex;
                flex-direction: column;
                list-style: none;

                &__items {
                        color: $color-primary-white;
                        font-weight: 700;
                        font-size: 4.5rem;
                        line-height: 3.6rem;
                        animation: neon-text .08s ease-in-out infinite alternate;

                        @media screen and (max-width: 800px) {
                                font-size: 3.1rem;
                                line-height: 3rem;
                        }

                        @media screen and (max-width: 500px) {
                                font-size: 2rem;
                                line-height: 2.1rem;
                        }
                }
        }

        &__score-display {
                background-color: $color-primary-white;
                width: 16.8rem;
                height: 12.8rem;
                border-radius: .86rem;
                display: flex;
                justify-content: center;
                padding: 1.7rem 0 0 .4rem;
                animation: neon-box .08s ease-in-out infinite alternate;

                @media screen and (max-width: 800px) {
                        width: 12.8rem;
                        height: 8.8rem;
                        padding: 1.3rem 0 0 .4rem;
                }

                @media screen and (max-width: 500px) {
                        width: 9.8rem;
                        height: 7rem;
                        padding: 1rem 0 0 .4rem;
                }
                
                &__text {
                        letter-spacing: .17rem;
                        font-size: 2rem;
                        text-align: center;
                        color: $color-secondary-text;

                        @media screen and (max-width: 800px) {
                                font-size: 1.5rem;
                        }

                        


                        span {
                                display: block;
                                font-size: 7rem;
                                color: $color-secondary-dark-text;
                                margin-top: -.8rem;

                                @media screen and (max-width: 800px) {
                                        font-size: 5rem;
                                }

                                @media screen and (max-width: 500px) {
                                        font-size: 3.5rem;
                                }
                        }
                }
        }
}